.customerbox{
    border: 10;
    border-style:groove;
    border-color:yellow;  
    color: white;
    padding-left: 10;
    font-style:bold;
    margin: 10;
    background-color: blue;
}
.buttonStyle{
    align-items: center;
    align-content: center;
    background-color: yellow;
    font-size: medium;
}